{% extends 'layout.html.twig' %}

{% block page_title %}Krok po kroku{% endblock %}
{% block content %}
<section>
    <div class="row">
        <div class="columns small-12 zabieg">
            Nie wiesz jak przygotować się do zabiegu? Co masz z sobą zabrać? Krótki poradnik krok po kroku...
        </div>
    </div>
</section>
<section class="steps top-offset">
    <div class="row step">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">01</div>
                <div class="step-no-text">Krok pierwszy</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="/public/images/krok1.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[0].text|raw }}
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">02</div>
                <div class="step-no-text">Krok drugi</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="/public/images/krok2.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[1].text|raw }}
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">03</div>
                <div class="step-no-text">Krok trzeci</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="/public/images/krok3.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[2].text|raw }}
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">04</div>
                <div class="step-no-text">Krok czwarty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="/public/images/krok4.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[3].text|raw }}
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">05</div>
                <div class="step-no-text">Krok piąty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper"><img src="/public/images/krok5.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[4].text|raw }}
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">06</div>
                <div class="step-no-text">Krok szósty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper"><img src="/public/images/krok6.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            {{ steps[5].text|raw }}
        </div>
    </div>
</section>
{% endblock %}