{% extends 'layout.html.twig' %}

{% block page_title %}Kontakt{% endblock %}
{% block content %}
<section>
    <div class="row places">
        <div class="topline"></div>
        <div class="columns small-12 medium-5 large-6 greenbox">
            <h2>Nasze placówki</h2>
            <div id="map">
                <ul class="cities" id="placowki-cities">
                    {% for city_list in cities %}
                        {% if (city_list.id_city == city.id_city) or (loop.index==1)  %}
                            {% set x_pos, y_pos = city_list.x_pos-3, city_list.y_pos-3 %}
                        {% else %}
                            {%set x_pos, y_pos = city_list.x_pos, city_list.y_pos %}
                        {% endif %}
                        <li class="city {% if city_list.id_city == city.id_city  %}active{% elseif loop.index==1%}active{% endif %}" style="left:{{ x_pos }}px; top:{{ y_pos }}px;" data-x_pos="{{ city_list.x_pos }}" data-y_pos="{{ city_list.y_pos }}" rel="{{ city_list.name }}"><a class="city-name" style="cursor:pointer; width:11px; height: 11px; display:inline-block; vertical-align: top;" rel="{{ city_list.id_city }}" title="{{ city_list.name }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="selectplace2">
                Wybierz odpowiednią placówkę
            </div>
            <div class="topline"></div>
        </div>
        <div class="columns small-12 medium-6 graybox  place-details">
            <h3 id="city-name-title">{% if city.name is not null %}{{ city.name }}{% else %}{{ cities[0].name }}{% endif %}</h3>
            <div class="actionbox">
                <div class="textlabel">Wybierz dogodny dla Ciebie termin zabiegu:</div>
                <a href="#" class="button">Wolne terminy</a>
            </div>
            <div class="actionbox">
                <div class="textlabel">Zadzwoń i zarejestruj się telefonicznie:</div>
                <a href="#" class="button">Rejestracja</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row top-offset cal">
        <div class="columns large-4 medium-4">
            <div class="calendar_buttons">
                <span class="button">Wolne terminy</span>
                <div class="select small-10 columns large-centered">
                    <label>Wybierz miesiąc</label>
                      <select id="month" name="month">
                        {% for listMonth in listOfMonths %}
                        <option value="{{ loop.index }}" {% if loop.index==month %}selected{% endif %}>{{ listMonth }}</option>
                        {% else %}
                        <option value="0">Brak miesięcy</option>
                        {% endfor %}
                      </select>
                      <input name="city" type="hidden" id="city" value="{% if city.id_city is not null %}{{ city.id_city }}{% else %}{{ cities[0].id_city }}{% endif %}">
                </div>
            </div>
        </div>
        <div id="calendar-container" class="columns large-8 small-12 medium-8 small-centered medium-uncentered">
            <ul class="calendar">
              {% for day in available %}
              <li {% if day is not empty %}class="active static" rel="{{ day.hour_from|date("G:i") }}-{{ day.hour_to|date("G:i") }}"{% endif %} data-day-id="{{ loop.index }}">{{ loop.index }}</li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row topoffset">
        <div class="columns small-12 large-11 large-centered termsinfobox end">
            <div class="term_info">
                W wybranym przez Ciebie terminie lekarz przyjmuje w godzinach:
            </div>
            <span class="button hours-info">00:00-00:00</span>
            <div class="term_info">
                Zadzwnoń i zarestruj się telefonicznie
            </div>
            <a href="#" class="button reg">Rejestracja</a>
        </div>
        <div class="columns small-12 large-11 large-centered end terms-text">
            <p>Nasza sieć placówek partnerskich rozmieszczona jest w całej Polsce budując dostępność zabiegową oraz po zabiegową do wysoko wyspecjalizowanych lekarzy. </p>

            <p>Idea budowania platformy łączącej pacjenta z lekarzem oparta jest na zaufaniu co do wysokiej jakości świadczonych usług, wspólnym standardem w obsłudze i rejestracji dzięki centralnej rejestracji telefonicznej oraz wymianie doświadczeń w nowoczesnych metodach zabiegowych.</p>
        </div>
        <div class="columns small-12 large-4 terms-text">
            <p>Jesteśmy w stałym rozwoju!</p>
        </div>
    </div>
</section>
{% endblock %}